.section_accesories {
  height: 843px;
  background: linear-gradient(to bottom, rgb(12 8 8 / 55%), rgb(12 8 8 / 26%)), url(../img/3111862.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  padding: 96px 0 0 0 ; 
  margin: 0;
}
.section_title {
  text-align: center;
  color: #d63616;
  font-size: 31px;
  text-shadow: 0 2px #fdff00;;
  padding: 9px 16px 9px;
  margin: 1px 649px 0px 657px;
  box-shadow: rgba(243, 5, 5, 0.57) 1px 3px 68px 40px;
  border-radius: 36px;
}
.accesories_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  color: #d6bb06;
}
.accesories_container div {
  margin-top: 28px;
  text-align: center;
}
.accesories_container button{
    background-color: red;
    color: aquamarine;
    font-size: 15px;
    border-radius: 25px;
}
.accesories_img {
  width: 170px;
  height: 150px;
  padding: 33px;
  animation: moveAndScale 3s infinite;
}

@keyframes moveAndScale {
    0% { transform: translateX(0) scale(1); }
    50% { transform: translateX(2px) scale(0.5); }
    100% { transform: translateX(0) scale(1); }
}
