#section_registrer {
  width: 100%;
  height: 750px;
  background-color: black;
  margin: 0;
  padding-top: 107px;
}
#form {
  color: antiquewhite;
  font-size: 20px;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
}
.section_title-three {
  text-align: center;
  color: #14deb5;
  font-size: 20px;
  padding: 9px 16px 9px;
  margin: 1px 192px 0px 194px;
  box-shadow: rgba(4, 235, 174, 0.55) 1px 3px 68px 40px;
}
.section_registrer-div {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: center;
}
.section_registrer-img {
  margin-top: 80px;
  width: 218px;
}
.section_registrer-button {
  color: #ffeb00;
  padding: 10px;
  background-color: #986ae9;
  margin: 69px 0px 0px 950px;
  font-size: 28px;
  border-radius: 32px;
}
#form label{
    color: #ecc411;
}
#name {
  display: flex;
}
#password {
  display: flex;
}
